{% extends "blogs/base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="w-100" style="max-width: 330px;">
        <h1 class="mb-4" style="text-align: center">Регистрация</h1>
        <form method="post" class="form-signin">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group text-center"> <!-- Изменено на text-center -->
                    <div>{{ field.label_tag }}</div> <!-- Метка -->
                    {{ field }} <!-- Поле ввода -->
                    {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button class="btn btn-lg btn-success btn-block" type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    // Отключение автозаполнения для всех полей формы
    document.addEventListener('DOMContentLoaded', function () {
        const inputs = document.querySelectorAll('.form-signin input');
        inputs.forEach(input => {
            input.setAttribute('autocomplete', 'off');
        });
    });
</script>
{% endblock %}
